@model List<Entities.Concrete.Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UIUserPanelLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@ViewBag.name </h4>
            <hr class="border-primary"/>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Ürünler
                            </th>
                            <th>
                                Kullanıcı Adı
                            </th>
                            <th>
                                İstatislik
                            </th>
                            <th>
                                Ücreti
                            </th>
                            <th>
                                Tarih
                            </th>
                            <th>
                                Sipariş Durumu
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="py-1">
                                <img src="~/images/productimages/@item.ProductImage" alt="image" />
                            </td>
                            <td>
                                @ViewBag.name
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="@item.ProductPrice" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td>
                                @item.ProductPrice ₺
                            </td>
                            <td>
                                @item.Date
                            </td>
                            <td>
                                @item.Status
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




